* {
    box-sizing: border-box;
}

body {
    background-color: #3703A6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    border: 0;
    background-color: #1C1973;
    color: #fff;
    border-radius: 5px;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    background-color: #3C35F2;
}

button:active {
    transform: scale(0.98);
}